	<div id = "top-nav">
		<h2>What up?</h2>
		<a href='#newblog'> Want to write a new blog post?</a>

		<div id="newblog" class="modalDialog">
			<div>
				<a href="#close" title="Close" class="close">X</a>
				<div class ="blogblox">
					<form id="newblog" method = "POST" action = "/newblog">
						<input type="text" name="user[title]" placeholder="Title" value="<%= @title %>" size=46>
						<br>
						<br>
						<TEXTAREA NAME="user[blog]" ROWS="20" COLS="50"
						placeholder="Something inspiring about writing shtuf"
						value = "<%= @blog %>" ></TEXTAREA>
						<br>
						<br>
						<input type="text" name="user[tags]" placeholder="tags?"> 

						<input type="submit" value="Post">
					</form>
				</div>
			</div>
		</div>

		<div class="container">

			<div class = "posts">
				<h2>Here are some of the Blogs!</h2>

				<form id="blogs" method="get" action="/posts">
					<select name="posts">
						<% @posts.each do |posts| %>
						<option value="<%=posts.title%>">
							<%= posts.title %> 
						</option>
						<% end %>
					</select>
					<input type="submit" value="Show">
				</form>
			</div>

			<div class='tag_container'>
				<h2>Here are some of the Tags!</h2>

				<form id="tags" method="get" action="/tags">
					<select name="tags">
						<% @tags.each do |tags| %>
						<option value="<%=tags.tag_name%>">
							<%= tags.tag_name %> 
						</option>
						<% end %>
					</select>
					<input type="submit" value="Show">
				</form>
			</div>
			<br>
			<br>
			<br>
			<div id="blog_results">
			</div>
			<div id="results">
			</div>
			<div id="edit">
			</div>
		</div>
