<div id="blog">

	<h1><%= @post[:title] %></h1>
	<p><%= @post[:blog] %></p>
	<% if @post.tags %>
	<h4>
		<% @post.tags.each do |tag| %>
		<span class="tag"><%= tag.tag_name %></span>
		<% end %>
	</h4>
	<% end %>
	<div class = "remove">
		<a href = "/remove/<%= @post.id %>" class = "remove"> Remove </a>
	</div>

	<div class = "edit">
		<a href = "/edit/<%= @post.id %>"> Edit </a>
	</div>

</div>